body{

	margin: 0px;
	padding: 0px;
}

.container{

	position: relative;
}

/*Navigation Section*/

.nav{

	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-around;
	position: absolute;

}

.logo{
	
	margin-top: 10px;

}

.nav .nav_list ul{

	display: flex;
	list-style: none;
	margin-top: 20px;

}

.nav .nav_list ul li{

	margin-left: 60px;

}

.nav .nav_list ul li a{

	text-decoration: none;
	color: #434141;
	font-size: 20px;
	font-family: 'Lato', sans-serif;

}

.nav .nav_list ul li a:hover{

	color: #cf3177;

}

.slide_image{

	background-image: url("img/B2.png"); /*Edited but original from [url:https://www.cleanpng.com/png-apple-pie-torte-apple-cake-black-forest-gateau-puf-2393653/preview.html]*/
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;

}

/*Navigation Section End*/


/*Menu Section*/

.menu{

	padding: 5% 10%;
	text-align: center;
	background-color: #f3efe6;
	font-family: 'Lato', sans-serif;
}

.menu_container{
	width: 100%;
}

.menu_container .menu_sec_2{

	/*display: flex;*/
	margin-bottom: 25px;
	
}

.menu_container .menu_items{

	width: auto;
	height: auto;
	/*overflow: hidden;*/
	/*margin-left: 150px;*/

}

.menu_container .menu_items img{

	/*width: 100%;
	display: block;
	height: auto;*/

	display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.menu_details_title{

	margin-top: 60px;
	font-family: 'Merienda One', cursive;
	font-size: 35px;
	color: #6378f6;
}

.menu_details_text{

	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #434141;

}

.menu_details_price{

	color: #6378f6;
	font-size: 20px;
	font-family: 'Merienda One', cursive;
}

.menu_items .btn a{

	display: block;
	width: 100px;
	height: 30px;
	border: 1px solid black;
	text-align: center;
	text-decoration: none;
	line-height: 30px;
	margin: 0 auto;

}

/*Menu Section End*/


/*Footer Section*/

.footer{

	display: flex;
	padding-top: 30px;
	justify-content: center;
	background-color: #6378f6;
	padding-bottom: 30px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: center;
	justify-content: space-between;
	color: #fff;

}

#ic_1 img{

	width: 50px;
    height: 50px;
    margin-bottom: -18px;
    margin-left: 20px;

}
#ic_2 img{

	width: 60px;
    height: 60px;
    margin-bottom: -27px;
    margin-left: 4px;

}

#ic_3 img{

	width: 55px;
    height: 53px;
    margin-bottom: -19px;
    margin-left: 2px;

}

.footer_details{

	width: 50%;

}

.footer_link{

	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	background-color: #6378f6;
	padding-bottom: 20px;

}

.footer_link ul{

	display: flex;
	list-style: none;
	margin-right: 70px;
    margin-top: -20px;

}

.footer_link ul li{

	margin-left: 40px;

}

.footer_link ul li a{

	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	text-align: center;

}

.footer_copyright{

	background-color: #434f94;
	width: 100%;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;

}

.footer_copyright a{

	text-decoration: none;
	color: #fff;
	
}

/*Footer Section End*/

/*Responsive*/

@media screen and (max-width: 780px){

	.nav{
		height:  auto;
		flex-direction: column;
	}
	.nav .nav_list{
		margin-right: 90px;
	}
	.nav ul{
		flex-direction: column;
		text-align: center;
	}
	.logo{
		margin-bottom: 55px;
		margin-top: 10px;

	}
	.nav ul li{
		margin-bottom: 5px;
	}
	.slide_image{
		/*margin-top: 35px;*/
	}

	.footer_link{
		height:  auto;
		flex-direction: column;
	}
	.footer_link ul{
		flex-direction: column;
		text-align: center;
	}
	
	.footer_link ul li{
		margin-bottom: 5px;
	}
	.footer_copyright{
		position: relative;
		margin-top: 90px;
	}

	.menu_container .menu_sec_2 {
    /* display: flex; 
    	margin-bottom: 25px;*/
	}

	.menu_container .menu_items {
    /* width: 30%; */
    	/*height: auto;*/
    /* overflow: hidden; */
    /* margin-left: 150px; */
	}
	.menu_container {
    /* width: 100%; */
	}

}

@media screen and (max-width: 480px){

	.menu_container .menu_items img{
		width: 300px;}
}

